# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
desktop.ini
.DS_Store


report.pdf
EF234405_DAA_Q2_5025241181_Muhammad Naufal Hadaya Setiawan.zip
Decralation.pdf